.heading{
    background-color: royalblue;
    color: aliceblue;
    outline: none;
}

li{
    /* background-color: aqua; */
    width: 250px;
}

.mainContainer{
    /* background-color: red; */
    width: 250px;
}

.bigcontainer{
    display: grid;
    justify-content: center;
    align-items:center;
}

.hello{
    transition: ease-in-out 5s;
    animation-duration: 10s;
    transition-duration: 10s;
    transition-timing-function: linear;
    /* transition  */
    /* transition-delay	26.0	10.0	16.0	6.1	12.1 */
    /* transition-duration	26.0	10.0	16.0	6.1	12.1 */
    /* transition-property	26.0	10.0	16.0	6.1	12.1 */
    /* transition-timing-function */
    transition: ease-in-out;
}